<h1>Bienvenue sur All Sport Pro</h1>
<p>A la recherche de la performance</p>

<%= link_to 'Articles',  articles_path %>
<%= link_to 'Programmes',  programmes_path %>
<%= link_to 'Musculation',  musculation_path %>


